.sources {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    font: 300 1em 'Fira Sans', sans-serif;
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 0.6em;
    margin: 0.2em;
    padding: 0.5em 1em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
    border-radius: 15px;
}

.source__item:hover,
.source__item:focus {
    border-color: black;
    color: black;
    box-shadow: 0 0.5em 0.5em -0.4em black;
    transform: translateY(-0.25em);
    background-color: white;
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}
