body {
    color: #fff;
    background:url(./assets/news-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: verdana, sans-serif;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

.logo{
    width: 65px;
    height: 65px;
    background: url(./assets/logo-rs.png);
    background-size:contain;
    background-repeat: no-repeat;
}

.logo-git{
    width: 50px;
    height: 50px;
    background: url(./assets/git-logo-white.png);
    background-size:contain;
    background-repeat: no-repeat;
}

.header-logo{
    width: 100px;
    height: 100px;
    background: url(./assets/header-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

::-webkit-scrollbar{
    width: 15px;
    background-color: rgb(40, 106, 106);
}

::-webkit-scrollbar-track{
    border: 3px solid rgba(255, 255, 255, 0.25);
}

::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 15px;
}

@media screen and (max-width: 500px) {
    .header-logo{
        display: none;
    }
}
