.winners-container{
    background-color: white;
    color: black;
    height: 70vh;
    position: absolute;
    left: 0;
    top: 50px;
}

.winners-container .page-number{
    color: black;
}

.winners-header{
    margin-left: 10px;
    margin-top: 10px;
}

.table-container{
    margin: 10px;
}