/* Add fonts start*/

@font-face {
    font-family: 'Arial';
    src: url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/arial/woff2/Arial-BoldMT.woff2') format('woff2'),
        url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/arial/woff/Arial-BoldMT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/arial/woff2/ArialMT.woff2') format('woff2'),
        url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/arial/woff/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/arial/woff2/ArialNarrow-Italic.woff2') format('woff2'),
        url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/arial/woff/ArialNarrow-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/arial/woff2/ArialNarrow-BoldItalic.woff2') format('woff2'),
        url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/arial/woff/ArialNarrow-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/arial/woff2/Arial-Black.woff2') format('woff2'),
        url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/arial/woff/Arial-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/arial/woff2/ArialNarrow.woff2') format('woff2'),
        url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/arial/woff/ArialNarrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/arial/woff2/Arial-BoldItalicMT.woff2') format('woff2'),
        url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/arial/woff/Arial-BoldItalicMT.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/arial/woff2/ArialNarrow-Bold.woff2') format('woff2'),
        url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/arial/woff/ArialNarrow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/arial/woff2/Arial-ItalicMT.woff2') format('woff2'),
        url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/arial/woff/Arial-ItalicMT.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Georgia';
    src: url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/georgia/woff2/Georgia-Bold.woff2') format('woff2'),
        url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/georgia/woff/Georgia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/georgia/woff2/Georgia-Italic.woff2') format('woff2'),
        url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/georgia/woff/Georgia-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/georgia/woff2/Georgia-BoldItalic.woff2') format('woff2'),
        url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/georgia/woff/Georgia-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/georgia/woff2/Georgia.woff2') format('woff2'),
        url('/vikalubenets-JSFE2023Q1/shelter/assets/fonts/georgia/woff/Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Add fonts end*/

/* General styles start*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    overflow-x: hidden;
}

/* General styles end*/

/* Header styles start*/

.header{
    height: 120px;
    display: flex;
    align-items: center;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.cover{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    display: none;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 184px;
    max-height: 60px;
}

.logo-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    color: #545454;;
    display: inline-block;
    margin-bottom: 10px;
    letter-spacing: 0.05em;
}

.logo-subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #292929;
    letter-spacing: 0.1em;
}

.nav {
    width: 443x;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.nav-item {
    display: inline-block;
    margin-right: 35px;
}

.nav-link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #545454;
    text-decoration: none;
    display: inline-block;
    padding: 2px;
}

.nav-item:last-child {
    margin: 0;
}

.active-link:active{
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}

.active-link:hover{
    color: #292929;
    transition: .3s;
}

.default-link {
    color: #545454;
    border-bottom: 3px solid #F1CDB3;
    cursor: none;
}

.burger-menu {
    width: 30px;
    height: 22px;
    border: none;
    background: transparent;
   display: none;
}

.burger-line{
    width: 100%;
    background-color: #000000;
    height: 2px;
    display: block;
    margin-bottom: 10px;
}

.burger-line:last-child{
    margin-bottom: 0px;
}

/* Header styles end*/

/* Pets styles start*/

.pets {
    display: flex;
    justify-content: center;
    background-color: #F6F6F6;
    background-repeat: repeat;
    background-size: 100vw;
    width: 100%;
}

.pets__content {
    margin-bottom: 100px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}

.title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    display: inline-block;
    width: 400px;
}

.cards-container {
    width: 100%;
    display: flex; 
    gap: 30px 40px;
    flex-wrap: wrap;
}

.card {
    width: 270px;
    height: 435px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    cursor: pointer;
    background: #FAFAFA;
    border-radius: 9px;
}

.card:hover{
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    transition: .3s;
}

.card:hover > .button__learn-more { 
    background: #FDDCC4;
    transition: .5s;
} 

.card:hover:active > .button__learn-more{
    background: #F1CDB3;
    opacity: 0.7;
}

.pets-photo {
    width: 270px;
    height: 270px;
    border-radius: 9px 9px 0px 0px;
}

.pets-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
}

.button__learn-more {
    width: 187px;
    height: 52px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    background-color: transparent;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin-bottom: 30px;
}


.navigation {
    width: 340px;
    height: 52px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.nav-icon {
    height: 52px;
    width: 52px;
    border-radius: 100px;
}

.num-page{
    width: 52px;
    height: 52px;
    display: inline-block;
    border-radius: 50%;
    border: none;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.num-page.num{
    background-color: #F1CDB3;
}

.active {
    cursor: pointer;
    background-color: white;
    border: 2px solid #F1CDB3;;
}

.inactive{
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
}

.active:active {
    background: #F1CDB3;
    opacity: 0.7;
    transition: .1s;
}

.active:hover {
    background: #FDDCC4;
    transition: .2s;
}

/* Pets styles end*/

/* Footer styles start*/
.footer {
    background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    background-repeat: repeat;
    background-size: 100%;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    flex-wrap: wrap;
    margin: 0 40px;
}

.footer-block {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 300px;
}

.subtitle {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
}

.footer-subtitle {
    color: #FFFFFF;
    display: inline-block;
    width: 278px;
}

.footer-line {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

.footer-icon {
    width: 42px;
    height: 32px;
}

.location-icon {
    width: 22px;
    height: 32px;
}

.footer-text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
/* Footer styles end*/

/* Modal styles start*/

.modal__cover{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
}

.modal__cover.open{
    visibility: visible;
    opacity: 1;
}

.modal{
    display: flex;
    max-width: 900px;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background: #FAFAFA;
    border-radius: 9px;
    gap: 29px;
    position: fixed;
    z-index: 2;
    margin-top: 52px;
    margin-right: 52px;
}

.modal__image{
    border-radius: 9px 0px 0px 9px;
    width: 500px;
    height: 500px;
}

.modal__content{
    width: 351px;
    height: 362px;
    margin: 50px 20px 88px 0;
}

.modal__name{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 10px;
}

.modal__type-breed{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 40px;
}

.modal__description{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 40px;
}

.modal__list{
    width: 154px;
    height: 102px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal__cover > ul li::before {
    content: "\2022";
    color: #F1CDB3;
    font-weight: bold; 
    display: inline-block;
    width: 4px;
    margin-right: 1rem;
  }

.modal__item{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
    color: #000000;
}

.modal__text{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
    color: #000000;
}

.modal__button {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 52px;
    height: 52px;
    top: -52px;
    right: -42px;
    background: transparent;
}

.modal__button:hover{
    background: #FDDCC4;
    cursor: pointer;
    transition: .3s;
}

.modal__button:active{
    background: #F1CDB3;
    cursor: pointer;
    transition: .3s;
}

.modal__icon{
    color: #292929;
}

/* Modal styles end*/

/* Media desctop starts*/

@media only screen and (min-width: 1280px){
    .wrapper {
        width: 1200px;
    }
}

/*Media desctop ends*/


/* Media tablet starts*/

@media only screen and (max-width: 1279px) {
    .wrapper {
        width: 93%;
        overflow-x: hidden;
    }

    .wrapper__body{
        position: relative;
        overflow-x: hidden;
    }
    
    .header {
        margin: 0px 0px;
    }

    .nav {
        margin-left: 3.8rem;
    }

    .header .wrapper {
        display: flex;
        justify-content: space-between;
    }

    .pets__content {
        width: 100%;
        gap: 30px;
        margin: 60px auto 70px auto;
    }

    .cards-container{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        max-width: 580px;
        height: 1365px;
        margin-bottom: 40px;
        align-items: center;
        justify-content: center;
    }

    .card-disabled{
        display: none;
    }

    .card {
        margin: 0;
    }

    .navigation{
        margin: 0 auto;
    }

    .footer{
        align-items: center;
        justify-content: center;
    }

    .footer__content{
        flex-wrap: wrap;
        gap: 60px;
        margin: 0 auto;
        padding-top: 20px;
        align-items: center;
        justify-content: center;
    }

}

/* Media tablet ends*/

/* Media mobile starts*/
@media only screen and (max-width: 767px) {
    
    .wrapper {
        width: 93.75%;
        overflow-x: hidden;
    }

    .header{
        margin: 0px 20px;  
        overflow-x: hidden;
    }


    .nav{
        display: flex;
        width: 320px;
        height: 100vh;
        position: absolute;
        right: -320px;
        top: 0;
        background: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        visibility: hidden;
        transition: all 0.5s ease-out;
    }

    .nav-link{
        display: block;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 51px;
        color: #545454;
        text-align: center;
    }

    .nav-item {
        display: block;
        max-width: 246px;
        margin: 0 auto;
    }

    .burger-menu{
        display: block;
        margin-left: 50px;
        width: 30px;
        height: 30px;
        transition: all 0.5s;
        position: relative;
    }

    .header.open .burger-line{
        background-color: black;
    }

    .header.open .burger-menu{
        transform: rotate(-90deg);
        margin-bottom: 0;
        z-index: 1;
    }

    .header.open .nav{
        transform: translateX(-100%);
        visibility: visible;
        z-index: 1;
    }

    .header.open .cover{
        display: block;
    }

    .title{
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
    }

    .pets__content {
        width: 94%;
        gap: 30px;
        margin: 0px auto;
        padding-top: 42px;
    }

    .cards-container{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-gap: 40px 30px;
        margin-bottom: 0px;
    }

    .card{
        margin: 0 auto;
    }

    .no-card{
        display: none;
    }
    
    .navigation{
        margin: 42px 0;
        gap: 10px;
        width: 300px;
    }

    .footer{
        align-items: flex-start;
    }

    .footer__content{
        flex-wrap: wrap;
        gap: 40px;
        margin: 0 auto;
        margin-top: 30px;
        height: 234pz;
    }

    .puppy-photo{
        width: 260px;
        height: 269px;
    }

}

/* Media mobile ends*/