*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #DBCFB0;
}

.game-container {
    width: 80vw;
    height: 80vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.game-menu {
    width: 70vw;
    height: 15%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-size: 20px;
    text-align: center;
    color: #545775;
}

.game-field {
    width: 98%;
    height: 80%;
    font-size: 20px;
    font-family: 'Inter';
    display: grid;
    grid-template-columns: repeat(var(--size), minmax(0, 22px));
    grid-template-rows: repeat(var(--size), minmax(0, 22px));
    gap: 2px;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-content: center;
}

.game-field__item {
    border: 1px solid black;
    cursor: pointer;
    background-color: #489FB5;
    text-align: center;
    border-radius: 4px;
}

.game-field__item:hover{
    opacity: 0.7;
}

.item_opened {
    background-color: #A9CEF4;
    color: #545775;
    font-weight: bold;
    font-size: 15px;
    font-family: Verdana, Tahoma, sans-serif;
}

.item_flagged{
    background-image: url(../assets/icons/flag_field.svg);
    background-size: cover;
}

.item_mine{
    background-image: url(../assets/icons/mine_field.svg);
    background-size: cover;
}

.text-win,
.text{
    background: #545775;
    border: 2px solid #DBCFB0;
    border-radius: 5px;
    width: 40%;
    height: 30%;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    color: #DBCFB0;
}

.menu-item-1,
.menu-item-2,
.menu-item-3,
.menu-item-4
{
    width: 20%;
    height: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.game-click_image
{
    background-image: url(../assets/icons/click-svgrepo-com\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    width:40px;
    height: 100%;
    background-size: contain;

}

.game-time_image{
    background-image: url(../assets/icons/clock-svgrepo-com\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    width:40px;
    height: 100%;
    background-size: contain;
}

.game-mine_image{
    background-image: url(../assets/icons/gnome-mines-svgrepo-com\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 100%;
    background-size: contain;
}

.game-flags_image{
    background-image: url(../assets/icons/flag-svgrepo-com\ \(1\)\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 100%;
    background-size: contain;
}

.button {
    width: 20%;
    max-width: 200px;
    height: 10%;
    max-height: 100px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: black;
    color: yellow;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.button:hover{
    opacity: 0.7;
}

.button:active{
    color: white;
    opacity: 1;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 70vw;
}

.level-input-container,
.mines-input-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
    color: #545775;
    margin-right: 10px;
}

.mine-input,
.level-input {
    width: 50%;
    background: #545775;
}

.input-value{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #545775;
    display: inline-block;

}

.theme-button{
    background-image: url(../assets/icons/dark-mode-night-moon-svgrepo-com\ 1.svg);
    background-repeat: no-repeat;
    background-position: right;
    width:90%;
    height: 10%;
    max-height: 15%;
    cursor: pointer;
    background-size: contain;
}