*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.game-container {
    width: 50vw;
    height: 50vh;
    background-color: dimgray;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.game-menu {
    width: 80%;
    height: 20%;
    border: 1px solid black;
    background-color: rgb(161, 160, 160);
    display: flex;
    font-size: 20px;
    color: black;
}

.game-field {
    width: 80%;
    height: 70%;
    border: 1px solid black;
    background-color: rgb(161, 160, 160);
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game-field__item {
    border: 1px solid black;
    cursor: pointer;
    width: 10%;
    height: 10%;
    background-color: gray;
}

.game-field__item:hover{
    opacity: 0.6;
}


.item_opened {
    background-color: none;
}

.item_flagged{
    background-color: yellow;
}

.item_mine{
    background-color: red;
}