.levels-wrapper{
    background-color: gray;
    width: 27vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    position: relative;
}

.level-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: green;
    color: white;
    padding: 10px;
}

.level-number{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.level-status{
    width: 20%;
    height: 100%;
}

.level-status.uncompleted {
    background-image: url(./uncompleted.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .level-status.completed {
    background-image: url(./completed.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

.buttons-container{
    width: 20%;
    height: 100%;
}

.left-button{
    background:url(./leftArrow.png);
    background-size: contain;
    background-repeat: repeat;
    cursor: pointer;
}

.right-button{
    background:url(./rightArrow.png);
    background-size: contain;
    background-repeat: repeat;
    cursor: pointer;
}

.burger-menu{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: column;
    cursor: pointer;
    z-index: 2;
}

.burger-line {
    width: 30px;
    height: 2px;
    background-color: white;
    display: block;
  }

.level-description{
    color: black;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.level-example{
    color: black;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    display: none;
}

.level-header.open + .cover {
    display: block;
}

.level-block {
    display: flex;
    width: 27vw;
    height: 100%;
    position: absolute;
    right: -27vw;
    top: 0;
    background: #131212;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    visibility: hidden;
    transition: all 0.5s ease-out;
  }
  
  .level-header.open .level-block {
    visibility: visible;
    transform: translateX(-100%);
    z-index: 1;
  }

.level-block__number{
    color: red;
    font-size: 20px;
    cursor: pointer;
}