.levels-wrapper{
    background-color: rgba(0,0,0,0.5);
    width: 27vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    position: relative;
    border-left: 1px solid black;
}

.level-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: rgba(0,0,0,0.5);
    border-bottom: 2px solid black;
    color: white;
    padding: 10px;
}

.level-number{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.level-status{
    width: 20%;
    height: 100%;
}

.level-status.uncompleted {
    background-image: url(./images/uncompleted.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-position: 50% 50%;
  }
  
  .level-status.completed {
    background-image: url(./images/completed.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

.buttons-container{
    width: 20%;
    height: 100%;
}

.left-button{
    background:url(./images/leftArrow.png);
    background-size: contain;
    background-repeat: repeat;
    cursor: pointer;
}

.right-button{
    background:url(./images/rightArrow.png);
    background-size: contain;
    background-repeat: repeat;
    cursor: pointer;
}

.burger-menu{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: column;
    cursor: pointer;
    z-index: 2;
}

.burger-line {
    width: 30px;
    height: 2px;
    background-color: white;
    display: block;
  }

.level-description{
    color: white;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.level-example{
    color: white;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    display: none;
}

.level-header.open + .cover {
    display: block;
}

.level-block {
    display: flex;
    width: 27vw;
    height: 100%;
    position: absolute;
    right: -27vw;
    top: 0;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    visibility: hidden;
    transition: all 0.5s ease-out;
  }
  
  .level-header.open .level-block {
    visibility: visible;
    transform: translateX(-100%);
    z-index: 1;
  }

.level-block__number{
    color: white;
    font-size: 17px;
    cursor: pointer;
    height: 19px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/uncompleted.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 40% 40%;
}

#level-1.completed,
#level-2.completed,
#level-3.completed,
#level-4.completed,
#level-5.completed,
#level-6.completed,
#level-7.completed,
#level-8.completed,
#level-9.completed,
#level-10.completed,
#level-11.completed,
#level-12.completed,
#level-13.completed,
#level-14.completed,
#level-15.completed{
    background-image: url(./images/completed.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 40% 40%;
}

#level-1.completed.helped,
#level-2.completed.helped,
#level-3.completed.helped,
#level-4.completed.helped,
#level-5.completed.helped,
#level-6.completed.helped,
#level-7.completed.helped,
#level-8.completed.helped,
#level-9.completed.helped,
#level-10.completed.helped,
#level-11.completed.helped,
#level-12.completed.helped,
#level-13.completed.helped,
#level-14.completed.helped,
#level-15.completed.helped{
    background-image: url(./images/helpcompleted.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 40% 40%;
}

.level-block__number:hover{
    color: blue;
    font-size: 17px;
    background-color: rgba(160, 160, 160, 0.5);
}

.level-block__number:focus,
.level-block__number:active{
    background-color: rgba(160, 160, 160, 0.5);
}

.level-block__number.active {
    background-color: rgba(160, 160, 160, 0.5);
}

.reset-button{
    width: 100px;
    height: 50px;
    border-radius: 15px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    text-align: center;
}

.reset-button:hover{
    background-color: #FF3CAC;
    cursor: pointer;
}
