.editor {
    width: 35vw;
    height: 50vh;
    border: 2px solid black;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 0.1fr 1.9fr;
    grid-gap: 0px;
  }
  
  .section-header {
    height: 25px;
    background-color: rgba(55, 86, 154, 0.60);
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px;
  }
  
  .editor__line-number {
    background-color: rgba(31, 28, 28, 0.70);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-row: 2;
    font-size: 11px;
    padding-top: 2px;
    padding-left: 5px;
    border-right: 1px solid black;
  }
  
  .editor__field {
    background: rgba(31, 28, 28, 0.70);;
    display: flex;
    flex-direction: column;
    grid-row: 2;
    font-size: 13px;
    font-style: italic;
    padding-top: 5px;
    padding-left: 5px;
  }

.editor__input-row{
    width: 85%;
    height: 20%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.editor__input{
    width: 85%;
    height: 50%;
}

.help-print-container.clicked + input{
  display: none;
}

.help-print-container.clicked .editor__button{
  cursor: not-allowed;
}

.editor__button{
    width: 50px;
    height: 30px;
    color: white;
    border-radius: 16px;
    background: #37569A;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-family: nasalization, sans-serif;
}

.editor__button:hover,
.editor__button:focus{
  background: #476EC2;
}

.editor__button:active{
  background: #03042A;
}

.editor__description{
    height: 50%;
    width: 100%;
    color: white;
}

@keyframes losing-animation {
  0% { transform: translateX(0) }
  25% { transform: translateX(3px) }
  50% { transform: translateX(-3px) }
  75% { transform: translateX(3px) }
  100% { transform: translateX(0) }
 }

 .losing-animation{
  animation-name: losing-animation;
  animation-duration: 1s;
  animation-timing-function: ease;
}