.editor {
    width: 35vw;
    height: 50vh;
    background-color: gray;
    border: 2px solid black;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 0.2fr 1.8fr;
    grid-gap: 0px;
  }
  
  .section-header {
    height: 25px;
    background-color: rgb(181, 180, 180);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px;
  }
  
  .editor__line-number {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 2;
    font-size: 14px;
    padding-top: 5px;
  }
  
  .editor__field {
    background: white;
    display: flex;
    flex-direction: column;
    grid-row: 2;
    font-size: 14px;
    font-style: italic;
    padding-top: 5px;
  }

.editor__input-row{
    width: 85%;
    height: 20%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.editor__input{
    width: 85%;
    height: 50%;
}

.editor__button{
    width: 50px;
    height: 30px;
    color: black;
    background-color: gray;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
}

.editor__description{
    height: 50%;
    width: 100%;
}