body{
    background-color: aqua;
    height: 100vh;
}

.garage-button,
.winners-button {
    background-color: yellow;
    color: black;
    font-size: 14px;
    margin-bottom: 10px;
}

.garage-button{
    margin-right: 5px;
}