body{
    background-color: black;
    height: 100vh;
}

.garage-button,
.winners-button {
    width: 7vw;
    height: 5vh;
    background-color: yellow;
    color: black;
    font-size: 14px;
    padding: 3px;
    cursor: pointer;
    margin-bottom: 10px;
    line-height: normal;
    text-align: center;
}

.garage-button:hover,
.winners-button:hover{
    transform: translateY(2px);
    background-color: gray;
    color: white;
    transition: all 0.2s ease;
}

.garage-button{
    margin-right: 5px;
}