@font-face {
    font-family: 'nasalization';
    src: url('./assets/font/nasalization-rg.otf') format('opentype');
    font-style: normal;
}
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./assets/images/background.jpg');
}

.header {
    margin-bottom: 10px;
    margin-top: 5px;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 8px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 97vw;
    max-height: 90vh;
    overflow: hidden;
    border: 3px solid black;
}

.left-column{
    display: flex;
    flex-direction: column;
}

.css-html-container{
    display: flex;
    width: 70vw;
}

.right-column{
    width: 27vw;
    overflow-x: hidden;
}

.logo{
    width: 40px;
    height: 40px;
    background: url(./assets/images/logo-rs.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-git{
    width: 30px;
    height: 30px;
    background: url(./assets/images/git-logo-white.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
    background: transparent;
    margin-top: 10px;
}
footer .copyright {
    font-size: 14px;
    color: white;
    text-align: center;
}

