*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    margin-bottom: 10px;
    margin-top: 10px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97vw;
    height: 90vh;
}

.left-column{
    display: flex;
    flex-direction: column;
}

.css-html-container{
    display: flex;
    width: 70vw;
}

.right-column{
    width: 27vw;
    background-color: gray;
    overflow-x: hidden;
}