.help-button{
    border-radius: 15px;
    background-color: white;
    color: black;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
}

.help-button:hover,
.help-button:focus {
    background-color: gray;
    color: white;
}

.hidden{
    display: none;
}