.help-button{
    border-radius: 15px;
    border-radius: 16px;
    background: #37569A;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    flex-direction: column;
    gap: 0px;
    color: #E8D6D6;
    font-family: Nasalization, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.help-button:hover,
.help-button:focus {
    background-color: #476EC2;
    color: white;
}

.help-button:active{
    background-color: #03042A;
}

.help-text{
    text-align: center;
    margin: 0 auto;
}

.hidden{
    display: none;
}