.help-button{
    border-radius: 15px;
    background-color: #FF3CAC;
    color: white;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    flex-direction: column;
    gap: 0px;
}

.help-button:hover,
.help-button:focus {
    background-color: gray;
    color: white;
}

.help-text{
    text-align: center;
    margin: 0 auto;
}

.hidden{
    display: none;
}