.track-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 10px;
}

.car-track{
    width: 100%;
    border-bottom: 2px dotted white;
    display: flex;
    justify-content: space-between;
}

.car-buttons{
    width: 20vw;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    font-size: 12px;
}

.select-button,
.remove-button{
    background-color: rgb(239, 239, 199);
    padding: 3px;
    font-size: 10px;
    width: 15%;
}

.select-button:hover,
.remove-button:hover{
    background-color: gray;
    color: white;
}

.select-button:active,
.remove-button:active,
.select-button:focus,
.remove-button:focus{
    background-color: blue;
    color: white;
}

.car-model{
    color: yellow;
    background-color: transparent;
}

.icon {
    transform: translateY(10px);
}

.start-container{
    width: 40%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.btns-container{
    display: flex;
}

.button-start,
.button-end{
    width: 3vw;
    border: 1px solid white;
    cursor: pointer;
    text-align: center;
    height: 3vh;
}

.car{
    width: 50px;
    height: 50px;
}

.flag{
    background-image: url('./assets/flag.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
}