.html-viewer{
    width: 35vw;
    height: 55vh;
    background-color: gray;
    border: 2px solid black;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 0.2fr 1.8fr;
    grid-gap: 0px;
}

.html-viewer__field{
    background: black;
    display: flex;
    flex-direction: column;
    grid-row: 2;
    color: white;
    padding: 10px;
}

.html-viewer__line-number{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 2;
    font-size: 14px;
}
