.garage-container{
    background-color: black;
    color: white;
    overflow-x: hidden;
}

.garage-header{
    font-size: 16px;
    color: white;
    height: 2vh;
    padding: 10px;
}

.page-number{
    font-size: 12px;
    color: white;
    height: 2vh;
    padding-left: 10px;
}

.cars-container{
    width: 100%;
    padding: 10px;
}